<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class=" container text-center col-md-3">
        <h5>Follow Us</h5>
        <ul class="col-md-6 offset-md-3  list-unstyled d-flex">
          <li class="me-3"><a href="https://facebook.com" target="_blank" class="text-white icon-link-hover"><i class="fab fa-facebook-f fa-2x fa-shake"></i></a></li>
          <li class="me-3"><a href="https://twitter.com" target="_blank" class="text-white icon-link-hover"><i class="fab fa-twitter fa-2x fa-shake"></i></a></li>
          <li class="me-3"><a href="https://instagram.com" target="_blank" class="text-white icon-link-hover"><i class="fab fa-instagram fa-2x fa-shake"></i></a></li>
          <li class="me-3"><a href="https://linkedin.com" target="_blank" class="text-white icon-link-hover"><i class="fab fa-linkedin-in fa-2x fa-shake"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>&copy; 2024 Engel Fine Design. All rights reserved.</p>
      <p>Powered by <a href="https://crittercodes.com" target="_blank" class="text-white">CritterCodes</a>.</p>
    </div>
  </div>
</footer>
